*{
	padding: 0;
	margin:0;
}

a{

}
h1, h3, p, a{
	font-family: GalsLight;
	font-style: normal;
	font-weight: normal;
}

/*Первый кадр*/
.frame_1{
    overflow: hidden;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:53%;
}
 
.frame_1-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 
.overlay_1 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
 
.overlay_1 h1 {
    text-align:center;
    color: rgba(255, 255, 255, 0.72);
    font-size: 9.5em;
    margin-top:17%;
}


.overlay_1 h3 {
    text-align:center;
    color:#fff;
    font-size: 2.5em;
    /*margin-top:17%;*/
}

.overlay_1 p {
	text-align: center;
	position: relative;
	z-index: ;
	
}

.overlay_1 a {
    color:#fff;
    font-size: 1.5em;
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 2;
    

}



/*Втрой кадр*/

.frame_2{
    overflow: hidden;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:53%;
}
 
.frame_2-bg__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 
.overlay_2 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
 
.overlay_2 h1 {
    text-align:center;
    color: #fff;
    font-size: 2.5em;
    margin-top:6%;
}

.images{
    width: 100%;
    height: 40%;
    text-align: center;
    position: relative;
}



.images_img{
	position: relative;
    margin-right: 5%;
    z-index: 3;
    position: relative;
    margin-top: 6%;
    text-align: center;

}


/*Третий кадр*/
.frame_3{
    overflow: hidden;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:41%;
}
 
.frame_3-bg__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 
.overlay_3 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
 
.overlay_3 h1 {
    text-align:center;
    color:#000;
    font-size: 2em;
    margin-top:10%;
    margin-left: 43%;
    white-space: pre;
    z-index: 2;
    position: absolute;

   
}


.overlay_3 p{
    margin-left: 50%;
    position: relative;
    z-index: 3;
    margin-top: 20%;
    
}

.overlay_3 a{
    font-family: 'Gals';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    font-size: 1.8em;
    color: #A30CFF;


}


.overlay_3 .rocket-icon{
    position: absolute;
    z-index: 3;
    background:url(../icon/rocket.svg) no-repeat left center; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 130px;
    padding-top:55px;
    width: 322px;
    height: 122px;
    
    

}



 
/*фУТЕР*/

footer{
	position: absolute;
	width: 100%;
	height: 321px;
	background-color: #19181D;
}

.text_footer{
    font-family: 'GalsLight';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: 6%;
   
    
}

.text_footer a{
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    outline: none;
    margin-right: 70px;
}


.text_footer a:hover{
    color: #FF0CE7;
}

.text_about{
    color:#000;

}


.ico_en_ru{
    width: 174px;
    height: 60px;
    position: absolute;
    margin-left: 80%;
    margin-top: 90px;
    z-index: 1;
    
    
}

.ico_en_ru img{

    margin-right: 25px;
}

}

.IT_copy{

    position: absolute;
    z-index: 2;
}

.IT_copy h1{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 90px;

}

@media (max-width: 767px) {
    .frame_1 {
        background: url('../video/Galaxy.jpg') center center / cover no-repeat;
    }
 
    .frame_1-bg__video {
        display: none;
    }
}

